<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="LoginPositiveTest" >
        <classes>
            <class name="starter.testNG.LoginPositiveTest" />
        </classes>
    </test>
    <test name="LoginNegativeTest" >
        <classes>
            <class name="starter.testNG.LoginNegativeTest" />
        </classes>
    </test>
</suite>
